/*Fichier avec le css noir et blanc pour le sitemap*/

/*importation de sitemap_general.css dans ce fichier*/
@import url("sitemap_general.css") screen;


/*les li avec href=marque-1 et qui ont comme parent ul*/
ul > li[href="marque-1"]
{
	font-size: 35px; /*taille de la police de 35 pixel*/
}
/*les li avec href=marque-2 et qui ont comme parent ul*/
ul > li[href="marque-2"]
{
	font-size: 30px; /*taille de la police de 30 pixel*/
}
/*les li avec href=marque-3 et qui ont comme parent ul*/
ul > li[href="marque-3"]
{
	font-size: 25px; /*taille de la police de 25 pixel*/
}